.custom-checkbox {
    .custom-control-label::before {
        border: 2px solid $input-border-color;
        content: "";
    }
    .custom-control-label::before,
    .custom-control-label::after {
        transition: 0.15s;
    }
    .custom-control-input:checked ~ .custom-control-label::after {
    	content: "\f14a";
    	font-family: FontAwesome;
    	font-size: $custom-control-indicator-size;
        background-image: none;
        font-weight: normal;
        text-align: center;
        line-height: $custom-control-indicator-size;
    }
}
