.number-range-input {
    padding: .4em 12px;
    height: 40px;
    border-radius: 3px;
    overflow: hidden;
    input {
        display: inline-block;
        outline: none;
        border: none;
        width: 35%;
        text-align: center;
        padding: 0 !important;
        height: 100%;
        &:focus,
        &:active {
            background-color: #F4F4F4;
            box-shadow: none !important;
        }
    }
}
