.zoom {
    &-enter {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
        &-active {
            transform: scale3d(1, 1, 1);
            transition: all .3s ease-in;
            opacity: 1;
        }
    }
    &-leave {
        transform: scale3d(1, 1, 1);
        opacity: 1;
        &-active {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
            transition: all .3s ease-out;
        }
    }
}
